.viewport {
  width: 100%;
  height: calc(100% - 60px);
  position: relative;

  .sidebar {
    width: 40px;
    height: 100%;
    background: rgb(50, 50, 51);
    float: left;

    .icon-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 40px;
      cursor: pointer;
      box-sizing: border-box;
      border-left: 2px solid transparent;
      color: rgb(133, 133, 133);

      &.on {
        color: #ffffff;
        border-left: 2px solid #ffffff;
      }

      &:hover {
        color: #ffffff;
      }

      .codicon {
        font-size: 22px;
      }
    }
  }

  .explorer {
    height: 100%;
    float: left;
    background: rgb(30, 30, 31);
    box-sizing: border-box;

    & > div {
      display: none;
    }

    & > div.on {
      display: block;
    }
  }

  .resizer {
    position: absolute;
    width: 4px;
    height: 100%;
    background: #5f6acf;
    cursor: w-resize;
    opacity: 0;
    transition: opacity 100ms linear;
    user-select: none;
    z-index: 5;

    &.on {
      opacity: 1;
    }
  }

  .tab-folder {
    height: 100%;
    float: left;

    .tab-folder-header {
      height: 30px;
      width: 100%;
      background: rgb(37, 37, 38);

      .tab {
        background: rgb(45, 45, 45);
        display: inline-block;
        height: 100%;
        padding: 6px 30px 0 8px;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        user-select: none;

        .title {
          display: inline;
          vertical-align: top;
        }

        &:hover {
          .close {
            visibility: visible;
          }
        }

        .icon {
          font-size: 14px;
          color: rgb(129, 129, 190);
          padding: 2px 5px 0;
        }

        .close {
          visibility: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 7px;
          right: 5px;
          font-size: 12px;
          border-radius: 3px;
          padding: 2px;

          &:hover {
            background: rgba(59, 60, 61);
          }
        }

        &.on {
          background: rgb(33, 33, 34);
        }
      }
    }

    .tab-folder-content {
      height: calc(100% - 30px);
      width: 100%;
      background: rgb(33, 33, 34);

      .canvas-container {
        width: 100%;
        height: 100%;
        display: none;

        &.on {
          display: block;
        }

        .canvas {
          display: block;
        }
      }
    }
  }
}
